#contacto {
    padding: 60px 50px;
    background-color: #f0f4f7; /* Un fondo gris claro para la sección */
}


.contacto-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 80px; /* Espacio entre las columnas */
    align-items: flex-start;
}

.contacto-form-column h3,
.contacto-social-column h3 {
    color: #0d2c6c;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    /* TODO: Implementar un tipo de fuente acorde */
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form button {
    padding: 15px 25px;
    background-color: #0d2c6c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #081d4a;
}

.social-icons-contact {
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center; /* Centra los íconos verticalmente */
    gap: 20px; /* Espacio entre los íconos */
    /* Puedes agregar altura si necesitas que el contenedor sea más grande
    height: 100px; */
}

.social-icons-contact img {
    height: 40px; /* Tamaño de los íconos de redes sociales */
    width: auto;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .contacto-container {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
        gap: 40px;
    }
}