/*---------------------------------------------------------------- */
/* CONTACTO - DISEÑO DE UNA COLUMNA */
/*---------------------------------------------------------------- */

#contacto {
    padding: 60px 50px;
    background-color: #f0f4f7;
    text-align: center; 
}


.contacto-single-column {
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.contact-email h3,
.contact-social h3 {
    color: #0d2c6c;
    font-size: 2.25em;
    margin-bottom: 1em;
}

.email-link {
    display: block; 
    color: #f7a01d; 
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
    text-align: center;
}

.email-link:hover {
    color: #d88e14; 
}

.social-icons-contact {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    height: 100px;
}

.social-icons-contact img {
    height: 40px;
    width: auto;
}

.social{
    color: #f7a01d;
    align-items: center;
    font-weight: bold;
}

.social-tag{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #0d2c6c;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-tag:hover{
    transform: scale(1.05);
    background-color: #051d4e; 
}