/*---------------------------------------------------------------- */
/* CONTACTO - DISEÑO DE UNA COLUMNA */
/*---------------------------------------------------------------- */

#contacto {
    padding: 60px 50px;
    background-color: #f0f4f7;
    text-align: center; 
}


.contacto-single-column {
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.contact-email h3,
.contact-social h3 {
    color: #0d2c6c;
    font-size: 2.25em;
    margin-bottom: 1em;
}

.email-link {
    display: block; 
    color: #f7a01d; 
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
    text-align: center;
}

.email-link:hover {
    color: #d88e14; 
}

.social-icons-contact {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
}

.social-icons-contact img {
    height: 40px;
    width: auto;
}