#plan-de-trabajo {
    padding: 60px 50px;
    background-color: #0d2c6c;
    color: white;
}

#plan-de-trabajo h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    border-bottom: 3px solid white;
}

.plan-de-trabajo-acordeon {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion-button {
    background-color: #f7a01d;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.3s ease;

    z-index: 2;
    position: relative;
}

.accordion-button:hover {
    background-color: #b16d0e;
}

.acordeon-item.active .accordion-button {
    background-color: rgb(184, 184, 184);
    color: #0d2c6c;
}

.accordion-button.active:hover {
    background-color: #b16d0e;
}

.accordion-content {
    background-color: white;
    color: #333;
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
    margin-top: -10px; 
}

.acordeon-item.active .accordion-content {
    max-height: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-box {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.acordeon-item.active .content-box {
    opacity: 1;
    transition-delay: 0.2s;
}

.content-box ul {
    list-style-type: none;
    padding-left: 0;
}

.content-box ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 1.5em;
    text-indent: -1.5em;
    text-align: justify;
}

.content-box ul li::before {
    content: "\2022";
    color: #0d2c6c;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
}

@media (max-width: 768px){
    .accordion-button:hover {
    background-color: #f7a01d;
}
}