#semblanza {
    padding: 50px 50px;
    background-color: #ffffff;
}


/* ** TEXTOS INTRODUCTORIOS */
/* ** ----------------------------------------- */


/*---------------------------------------------------------------- */
/* SEMBLANZA - SECCIÓN INTRODUCCIÓN */
/*---------------------------------------------------------------- */

.intro-semblanza-container {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.semblanza-text {
    flex: 2;
}

.semblanza-text p.small-slogan {
    font-style: italic;
    font-size: 3rem;
    font-weight: bold;
    color: #505050;
    text-align: center;
}

.semblanza-text p.intro-text {
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: justify;
    font-size: large;
}

.semblanza-photo {
    flex: 1;
    position: relative;
    max-width: 500px;
    height: auto;
}

.semblanza-photo img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

.semblanza-photo::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-color: #f7a01d;
    z-index: 1;
}

/*---------------------------------------------------------------- */
/* MEDIA QUERIES PARA RESPONSIVIDAD */
/*---------------------------------------------------------------- */

@media (max-width: 768px) {
    .intro-semblanza-container {
        flex-direction: column;
        gap: 20px;
    }
    
    .semblanza-text {
        order: 1;
        flex: auto;
    }
    
    .semblanza-photo {
        order: 2;
        width: 250px;
        height: auto;
        margin: 0 auto;
        flex: none;
    }
    
    .semblanza-text p.small-slogan {
        font-size: 2rem;
        text-align: center;
    }
    
    .semblanza-text p.intro-text {
        text-align: justify;
    }
    
    .semblanza-photo::before {
        top: -10px;
        right: -10px;
    }
}

/* ** TÍTULOS */
/* ** ----------------------------------------- */

.sub-section {
    margin-top: 40px;
}

.sub-sections h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/* ** TRAYECTORIA */
/* ** ----------------------------------------- */

.sub-section h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sub-section h4 {
    color: #0d2c6c;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.section-item.reverse {
    flex-direction: row-reverse;
}

.section-text {
    flex: 1;
    line-height: 1.6;
}

.section-text p {
    text-align: justify;
}

.section-image {
    flex: 1;
    height: 300px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .section-item,
    .section-item.reverse {
        flex-direction: column;
    }

    .section-image {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* ** LABOR DOCENTE */
/* ** ----------------------------------------- */

.docencia-items-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f7a01d;
}

.docencia-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 30%;
    text-align: center;
    text-align: justify;
}

.docencia-image-box {
    width: 100%;
    height: 200px;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-bottom: 20px;
}

.docencia-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .docencia-items-container {
        flex-direction: column;
        gap: 20px;
    }

    .docencia-item {
        max-width: 100%;
        width: 100%;
    }
}

/* ** PRODUCCIÓN CIENTÍFICA */
/* ** ----------------------------------------- */


.produccion-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.produccion-text {
    flex: 2;
}

.produccion-text ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

.produccion-text li {
    padding-left: 1em;
    text-indent: -1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.produccion-text li::before {
    content: "\2022";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.produccion-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scholar-button {
    background-color: #0d2c6c;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 50px;
    display: inline-block;
    line-height: 1.2;
    transition: background-color 0.3s ease;
    width: 50%;
}

.Google {
    color: #f7a01d
}

.scholar-button:hover {
    background-color: #081d4a;
}

@media (max-width: 768px) {
    .produccion-container {
        flex-direction: column;
        gap: 20px;
    }

    .scholar-button {
        width: 100%;
        align-items: center;
    }
}

/* ** RECONOCIMIENTO Y LEGADO */
/* ** ----------------------------------------- */

.legado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.carousel-container {
    width: 70%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.carousel-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(85, 85, 85, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: white;
}

.legado-text {
    font-size: 1.1em;
    line-height: 1.7;
    max-width: 800px;
    text-align: justify;
}

@media (max-width: 768px) {
    .carousel-container {
        width: 95%;
    }
}